:host {
  .toolbar {
    width: 100vw;
    height: 4vh;
    display: flex;
  }

  .nav-control {
    color: #3f3f3f;
    cursor: pointer;
    border-radius: 1px;
    display: flex;
    width: 40px;
    justify-content: center;
    align-items: center;

    .mat-icon {
      width: auto !important;
      height: auto !important;
    }
  }

  .nav-control-active {
    color: #1967d2;
    cursor: pointer;
    border-radius: 1px;
    display: flex;
    width: 40px;
    justify-content: center;
    align-items: center;
    background-color: #e8f0fe;

    .mat-icon {
      width: auto !important;
      height: auto !important;
    }
  }

  .nav-control:hover {
    background-color: lightgrey;
  }

  .divider {
    width: 1px;
    background-color: lightgrey;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .font-size-container {
    display: flex;

    .font-size-input {
      width: 40px;
      margin-top: 3px;
      margin-bottom: 3px;
      text-align: center;
    }

    .font-size-input:focus {
      border: 3px solid #1967d2;
    }

    .plus-container, .minus-container {
      width: 25px;
      border: 1px solid lightgrey;
      color: #3f3f3f;
      cursor: pointer;
      border-radius: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3px;
      margin-bottom: 3px;

      .mat-icon {
        width: auto !important;
        height: auto !important;
      }
    }

    .plus-container:hover, .minus-container:hover {
      background-color: lightgrey;
    }
  }

  .font-container, .font-container-active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;

    span {
      padding-left: 10px;
      padding-right: 10px;
      text-overflow: ellipsis;
      max-width: 100px;
      overflow: hidden;
      white-space: nowrap;
    }

    .mat-icon {
      width: 10px;
      height: auto;
      padding-right: 10px;
    }
  }

  .font-container:hover {
    background-color: rgb(228, 228, 228);
  }

  .font-container-active {
    background-color: #e8f0fe;
    color: #1967d2;
  }
}
