<div class="toolbar">
  <button
    matTooltip="Download as Microsoft Word Document(.docx)"
    (click)="serializeToDocx()"
    mat-raised-button
  >
    <mat-icon fontSet="fas" fontIcon="fa-file-download"></mat-icon>
  </button>
  <button matTooltip="Bold (Ctrl + B)" mat-raised-button>
    <mat-icon fontSet="fas" fontIcon="fa-bold"></mat-icon>
  </button>
  <button matTooltip="Italic (Ctrl + I)" mat-raised-button>
    <mat-icon fontSet="fas" fontIcon="fa-italic"></mat-icon>
  </button>
  <button matTooltip="Underline (Ctrl + U)" mat-raised-button>
    <mat-icon fontSet="fas" fontIcon="fa-underline"></mat-icon>
  </button>
  <button matTooltip="Text color" mat-raised-button>
    <mat-icon fontSet="fas" fontIcon="fa-fill"></mat-icon>
  </button>
  <button matTooltip="Highlight color" mat-raised-button>
    <mat-icon fontSet="fas" fontIcon="fa-highlighter"></mat-icon>
  </button>
</div>
