<div class="root-container">
  <app-editor-controls
    (isBold)="handleBold($event)"
    (isItalic)="handleItalic($event)"
    (isUnderline)="handleUnderline($event)"
    (fontSizeChange)="handleFontSizeChange($event)"
  ></app-editor-controls>


  <div class="editor-container">
    <div class="editor">
      <div class="appview">
        <div class="appview-editor-container">
          <div class="appview-editor">
            <div>
              <div class="rotatingtilemanager ui-hit-region-surface">
                <div class="rotatingtilemanager-content">
                  <div id="canvas-first-page" class="page-paginated canvas-first-page">
                    <div class="stacked-tile-page-shadow"></div>
                    <canvas id="canvas-tile-content" class="canvas-tile-content"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="editor-ui-unprintable">
        
      </div>
    </div>
  </div>
</div>
